{% extends 'base.html' %}
{% block title %}
   О нас
{% endblock %}

{% block content %}
<div class="container">
<button type="button" class="btn btn-primary">
    <a href="https://vk.com/id454366736" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-facebook-f"></i> Вконтакте
                            </a>
</button>

<button type="button" class="btn btn-primary">
    <a href="https://t.me/Volongotto_help_bot" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i> Поддержка в Telegram
                            </a>
</button>

<button type="button" class="btn btn-primary">
     <a href="https://market.yandex.ru/business--volongotto/89797728" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-instagram"></i> ЯМаркете
                            </a>
</button>

<button type="button" class="btn btn-primary">
   <a href="https://www.ozon.ru/seller/volongotto-1088111/products/?miniapp=seller_1088111" class="text-white" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-linkedin-in"></i> OZON
                            </a>
</button>
</div>
{% endblock %}
