{% extends 'base.html' %}
{% block title %}
   О нас
{% endblock %}

{% block content %}

<div id = "product" class = "container">
   <div class = "row">
    <div class = "col-sm-6 col-md-6 col-lg-3">
    <div class="card rounded-4" style="width: 18rem;">
    <img src="../static/image/DSC01852 копия.jpg" class="card-img-top rounded-4" alt="...">
    <div class="card-body">
        <h5 class="card-title">Крем для лица антивозрастной</h5>
        <p class="card-text overflow-y-scroll" style = 'height: 100px'>Крем для лица с кровью дракона регенерирующий - это уникальный антивозрастной уход для вашей кожи. Он обеспечивает мощное увлажнение и питание, помогает бороться с морщинами и предотвращает их появление. Он идеально подходит для сухой и комбинированной кожи. Красота вашей кожи будет восхищать окружающих, а вы будете чувствовать себя уверенно и привлекательно.</p>
        <a href="https://www.ozon.ru/product/volongotto-krem-omolazhivayushchiy-uvlazhnyayushchiy-50ml-1196829310/?_bctx=CAQQ77RC&asb=OwmMP7iD%252FwKxEwfjTAIkowisUcWjeHYEPA0Z%252B4Upv5U%253D&asb2=XZtMqgw0qpXmixsFafcAt0waaaXENukuqY1d35F1ee1u38QD1Ww1V5FiWn9NYQsR3sUniadQid8Fj8L01artWQ&avtc=1&avte=2&avts=1718903078&hs=1"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">OZON</a>
        <a href="https://market.yandex.ru/pr/4654904139"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">Яндекс</a>
        </div>
        </div>
    </div>
        <div class = "col-sm-6 col-md-4 col-lg-3">
    <div class="card rounded-4" style="width: 18rem;">
    <img src="../static/image/DSC01875 копия.jpg" class="card-img-top rounded-4" alt="...">
    <div class="card-body">
        <h5 class="card-title">Тоник для лица с АНА-кислотами</h5>
        <p class="card-text overflow-y-scroll" style = 'height: 100px'>Хотите найти идеальный тоник для увлажнения и предания свежести вашей коже? Представляем вам невероятно эффективный гидролат с АНА-кислотами, который станет надежным помощником в борьбе за красивую и здоровую кожу!</p>
        <a href="https://www.ozon.ru/product/volongotto-tonik-dlya-litsa-s-ana-kislotam-bez-spirta-150ml-1196869363/?__rr=1"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">OZON</a>
        <a href="https://market.yandex.ru/pr/4654904141"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">Яндекс</a>
        </div>
        </div>
    </div>
        <div class = "col-sm-6 col-md-4 col-lg-3">
    <div class="card rounded-4" style="width: 18rem;">
    <img src="../static/image/DSC01900 копия.jpg" class="card-img-top rounded-4" alt="...">
    <div class="card-body">
        <h5 class="card-title">Пенка для умывания с АНА-кислотами</h5>
        <p class="card-text overflow-y-scroll" style = 'height: 100px'>Пенка-мусс для умывания идеальное средство для бережного очищения и ухода за кожей. Она имеет уникальную формулу, которая помогает эффективно очистить кожу от загрязнений, способствует обновлению клеток, выравниванию цвета лица, осветлению пигментных пятен, увлажнению и снижению воспалений, антиоксидантный эффект.</p>
        <a href="https://www.ozon.ru/product/volongotto-penka-dlya-umyvaniya-s-ana-kislotami-150-ml-1196871628/?oos_search=false&prev_collection=18065382"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">OZON</a>
        <a href="https://market.yandex.ru/product--penka-muss-dlia-umyvaniia-s-ana-kislotami/18803794?hid=8476098&show-uid=17191407375953124208716001&from=search&rs=eJwzYgpgdDLlMuTi4GAU4JZgVGAUEJCSTk4sLk3MiU9OLMovLU7NiTeOzyxJzS2OL8kvUNh7l1Njble1AKMXR1qKaaqFmVlikJGhuaGloYmBubG5saWlfkqqqXFKokFSmol5WpqlkUViYlJymkWiiUWyYZKBmYGBvqG-IQCF0yDn&nid=17437155&sku=102414948429&cpa=1&do-waremd5=mJ4YghqSC4XulgaIVk_ngg&cpc=BX1IYaOjyn5YwjzcZBXnIz_uO3JTBWniNOUbSsgxUfuNU78TyK21V7kI7nbgmH9osRnLUvGbQRY_k4GHLuDcy99t_uHz3O-bRdxB4C4T0XI_huNKod2UsdCmXPuCUaow34Q-8hpCbFYZHT7nO3UaB6CW5tkwmbHOCNAPE0ex4XRRhrDA37baw_Q9ubFVc-YJsxSLYU5pkoKytivuAAzwgZJUG951NzbgvP9VkJosyHJbZ5-DWXkQCdTq-d23wO7T07Ki-C06bEVj70uaer4dYOoPBMLeIdCt&cc=CjIxNzE5MTQwNzM3Mzk5L2RlNTNkYTBiZjQ3ZmY5MjhhYWJjZjhhNDhjMWIwNjAwLzEvMRAHgH3m7QY%2C&uniqueId=89797728"  target="_blank" rel="noopener noreferrer" class="btn btn-primary">Яндекс</a>
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}

