<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Данные</title>
</head>

<body>
    <div class="container">
        <h1>Расскажите о себе</h1>

        <form method="POST" action="/stat">
            <div class="form-group">
                <label for="title">Ваше имя</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>

            <div class="form-group">
                <label for="con">Ваш город</label>
                <textarea class="form-control" id="con" name="con" required></textarea>
            </div>

            <div class="form-group">
                <label for="cont">Ваш возраст</label>
                <textarea class="form-control" id="cont" name="cont" required></textarea>
            </div>

                <div class="form-group">
                <label for="gender">Ваш пол</label>
                <select class="form-control" id="gender" name="conten" required>
                    <option value="Мужской">Мужской</option>
                    <option value="Женский">Женский</option>
                </select>
            </div>

            <div class="form-group">
                <label for="content">Хобби</label>
                <textarea class="form-control" id="content" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить пост</button>
        </form>

        <hr>
        <h2>Посты</h2>
        <div class="row">
            {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">Город: {{ post.con }}</p>
                        <p class="card-text">Возраст: {{ post.cont }}</p>
                        <p class="card-text">Пол: {{ post.conten }}</p>
                        <p class="card-text">Хобби: {{ post.content }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>